body {
  margin: 0;
  padding: 0;
  background-color: salmon;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
}


.box {
  background-color: #f5f5f5;
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
